@import "tailwindcss";

@theme {
  /* --*: initial; */

  --spacing: 0.25vmin;

  --text-label: 1vw;

  --font-main: ui-sans-serif, system-ui, sans-serif;
  --color-night: #0e0330;
  --color-white: #e0e0e0;
}

@custom-variant tall {
  @media (aspect-ratio < 1) {
    @slot;
  }
}

@custom-variant wide {
  @media (aspect-ratio >= 1) {
    @slot;
  }
}

@utility scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
