@import "tailwindcss";

@theme {
  /* --*: initial; */

  --spacing: 0.25vmin;
  --spacing-w: 0.25vw;
  --spacing-h: 0.25vh;

  --font-main: ui-sans-serif, system-ui, sans-serif;
  --color-night: #0e0330;
  --color-white: #e0e0e0;
}

@custom-variant tall {
  @media (aspect-ratio < 1) {
    @slot;
  }
}

@custom-variant wide {
  @media (aspect-ratio >= 1) {
    @slot;
  }
}
