@import "tailwindcss";

@theme {
  --*: initial;

  --font-main: ui-sans-serif, system-ui, sans-serif;
  --color-night: #121063;
  --color-dark-green: #123422;
  --color-other: #134063;
  --color-red: #ff0000;
}

@custom-variant tall {
  @media (aspect-ratio < 1) {
    @slot;
  }
}

@custom-variant wide {
  @media (aspect-ratio >= 1) {
    @slot;
  }
}
